@model IEnumerable<WebApplicationMVC.Transaco>

@{
    ViewBag.Title = "MaiorValor";

}

  
    
<div class="form-horizontal">
    <h2>Maior valor depositado:</h2>
    <br />
    <h4>
        @ViewData["mensagem"]
    </h4>
</div>



